.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	font-family: 'Fascinate', cursive;
	background: #e0b421;
}

.health {
	min-width: 100vw;
	padding: 0 20px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.health__restart {
	font-family: 'Fascinate', cursive;
	width: 100px;
	height: 40px;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	z-index: 10;
}

.health__bar {
	display: flex;
	gap: 10px;
}

.guess-word {
	margin-top: 100px;
	font-size: 60px;
}

.alphabet {
	margin-top: 100px;
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	align-items: center;
    	justify-content: center;
}

.alphabet__btn {
	font-family: 'Fascinate', cursive;
	background-color: black;
	color: #fff;
	height: 30px;
	width: 20px;
	border-radius: 5px;
}

.end {
	position: absolute;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-size: 90px;
	background: rgba(0, 0, 0, 0.901);
	color: #fff;
	overflow: hidden;
	transform: translateY(-100%);
	transition: all 1s;
}

.win {
	position: absolute;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-size: 90px;
	background: rgba(0, 0, 0, 0.901);
	color: #fff;
	overflow: hidden;
	transform: translateY(-100%);
	transition: all 1s;
}
